:root{
    --mainColor:#15202b;
    --secColor:#192736;
    --borderCloor:#164d56;
    --mainText:white;
    --secText:#4b5156;
    --themeDotBorder:#ffffff;
    --previewBg:rgb(25,35,52,0.8);
    --preview-shado:#ee725c;
    --buttonColor:rgb(0, 109, 182);
}

